<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left"><img class="nav-logo" src="https://ga-cms-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0.png" alt=""></a>
  </div>
</nav>
