<!DOCTYPE html>
<html lang="en">
  <!--
  ╦ ╦ ╦   ╔╦╗ ╦ ╦ ╔═╗ ╦═╗ ╔═╗ ┬
  ╠═╣ ║    ║  ╠═╣ ║╣  ╠╦╝ ║╣  │
  ╩ ╩ ╩    ╩  ╩ ╩ ╚═╝ ╩╚═ ╚═╝ o

  Thanks for taking the time to check out my code (more info at: https://github.com/avielgoh/WDI-Project-5-GA-Sign-In).

  This project was undertaken as part of General Assembly's Web Development Immersive course I undertook in late 2015. My client was General Assembly, specifically the Events Management Team.

  If you like what you see, I'd love to buy you a coffee (or icecream) and chat further. Please feel free to contact me at:

    - Email: avielgwk@gmail.com

  Check out my GitHub to see other projects I've worked on - https://github.com/avielgoh

  Have a great day!
  -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA Check In</title>
    <% include partials/stylesheets.ejs %>

    <% if (ENV_DEVELOPMENT) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
  </head>
  <body>

    <% include partials/nav.ejs %>
