<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA Check In</title>
    <% include partials/stylesheets.ejs %>

    <% if (ENV_DEVELOPMENT) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left"><img class="nav-logo" src="https://ga-cms-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0.png" alt=""></a>
      </div>
    </nav>
