<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA Check In</title>
    <% include partials/stylesheets.ejs %>

    <% if (ENV_DEVELOPMENT) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
  </head>
  <body>

    <% include partials/nav.ejs %>
