@font-face {
  font-family: 'PFDinTextCompProBold';
  src: url('/font/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'PFDinTextCompProBold', Impact, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.02em;
}

.brand-logo {
  margin-top: 3px;

  img {
    height: 28px;
    margin-left: 15px;
  }
}

nav {
  background-color: black;

  #current-time {
    margin-right: 20px;
    margin-top: 3px;
    font-family: 'PFDinTextCompProBold', Impact, Arial;
    // text-transform: uppercase;
    font-size: 1.5rem;
  }
}

.tabs {
  overflow-x: hidden;
}

.check-in-screen {
  .btn, .btn-large {
    font-size: 1.5em;
  }

  input[type=email] {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #ff0032;
    box-shadow: 0 1px 0 0 #ff0032;
  }

  .row .col {
    padding: 0;
  }
}

.dashboard {
  margin-top: 25px;

  label {
    left: 0;
  }

  .row .col {
    padding: 0;
  }

  #new-event, #past-events {
    margin-top: 5px;
  }

  .export-button {
    padding: 0 1rem;
  }

  .delete-event-button {
    padding: 0 1rem;
  }

  th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
    text-align: center;
  }

  td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    text-align: center;
  }
}

.check-in-screen {
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;

  h1 {
    font-size: 10rem;
    text-shadow: 0px 2px 5px rgba(150, 150, 150, 1);
  }

  h3 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .check-in-screen {
    margin-top: 10px;

    h1 {
      font-size: 5.5rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  nav {
    #current-time {
      display: none;
    }
  }
}

.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out;
}
