@font-face {
  font-family: 'PFDinTextCompProBold';
  src: url("/font/PFDinTextCompPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3 {
  font-family: 'PFDinTextCompProBold', Impact, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.02em; }

.brand-logo {
  margin-top: 3px; }
  .brand-logo img {
    height: 28px;
    margin-left: 15px; }

nav {
  background-color: black; }
  nav #current-time {
    margin-right: 20px;
    margin-top: 3px;
    font-family: 'PFDinTextCompProBold', Impact, Arial;
    font-size: 1.5rem; }

.tabs {
  overflow-x: hidden; }

.check-in-screen .btn, .check-in-screen .btn-large {
  font-size: 1.5em; }
.check-in-screen input[type=email] {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #ff0032;
  box-shadow: 0 1px 0 0 #ff0032; }
.check-in-screen .row .col {
  padding: 0; }

.dashboard {
  margin-top: 25px; }
  .dashboard label {
    left: 0; }
  .dashboard .row .col {
    padding: 0; }
  .dashboard #new-event, .dashboard #past-events {
    margin-top: 5px; }
  .dashboard .export-button {
    padding: 0 1rem; }
  .dashboard .delete-event-button {
    padding: 0 1rem; }
  .dashboard th:nth-child(2), .dashboard th:nth-child(3), .dashboard th:nth-child(4), .dashboard th:nth-child(5) {
    text-align: center; }
  .dashboard td:nth-child(2), .dashboard td:nth-child(3), .dashboard td:nth-child(4), .dashboard td:nth-child(5) {
    text-align: center; }

.check-in-screen {
  text-align: center;
  vertical-align: middle;
  margin-top: 50px; }
  .check-in-screen h1 {
    font-size: 10rem;
    text-shadow: 0px 2px 5px #969696; }
  .check-in-screen h3 {
    font-size: 3.5rem; }

@media only screen and (max-width: 600px) {
  .check-in-screen {
    margin-top: 10px; }
    .check-in-screen h1 {
      font-size: 5.5rem; }
    .check-in-screen h3 {
      font-size: 2rem; }

  nav #current-time {
    display: none; } }
.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out; }
