@font-face {
  font-family: 'PFDinTextCompProBold';
  src: url('/font/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PFDinTextCompProBold', Impact, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.02em;
}

.brand-logo {
  margin-top: 3px;

  img {
    height: 28px;
    margin-left: 15px;
  }
}

nav {
  background-color: black;
}

.check-in-form {
  .btn, .btn-large {
    font-size: 1.5em;
  }

  input[type=email] {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #EF5350;
    box-shadow: 0 1px 0 0 #EF5350;
  }

}

.row .col {
  padding: 0;
}

.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out;
}
