@font-face {
  font-family: 'PFDinTextCompProBold';
  src: url("/font/PFDinTextCompPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'PFDinTextCompProBold', Impact, Arial;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.02em; }

.brand-logo {
  margin-top: 3px; }
  .brand-logo img {
    height: 28px;
    margin-left: 15px; }

nav {
  background-color: black; }

.check-in-button .btn, .check-in-button .btn-large {
  font-size: 1.5em; }

.row .col {
  padding: 0; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  font-size: 1.5em; }

.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out; }
